@import "../reset.css";

:root{
    --main-color :#F29F80;
}

.gowun-dodum-regular {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #F0F0F2;
}

.wrapper {
    width: 430px;
   
    background-color: #fff;
}

.wrapper h1 {
    font-size: 24px;
    color: var(--main-color);
}

